<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Page not found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="{siteurl}/static/css/main.min.css" rel="stylesheet">
    <link href="{siteurl}/static/css/errorpage.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="http-error">
        <h1>404 Page Not Found</h1>
        <div class="error-code">404</div>
        <p>Looks like the page you're looking for does not exist... </p>
        <p> <a href="javascript:history.go(-1)">go back</a>
      </div>
  </body>
</html>
	 
	 
	