  <nav class="fixed-title">
    <h2>tasks</h2>
  </nav>


  <div class="task-list">

  <!-- iterate through the all tasks -->
    <div class="task" ng-repeat="(key, task) in tasks">
      <input type="radio" name="toggle" id="{{task.name}}" />

      <div class="task-header">
        <h2><label for="{{task.name}}">{{task.name}}</label></h2>

        <h3>{{task.description}}</h3>
      </div>

      <div class="task-body">
        <div class="task-body-inner">
          <!-- iterate through the configured fields -->
          <div class="field" ng-repeat="(key, field) in task.fields">
            
            <label>{{field.name}}</label>

            <!-- Show edit or read only field -->
            <span ng-show="!editmode">{{field.value}}</span>
            <input ng-show="editmode" type="{{field.type}}" placeholder="{{field.name}}" value="{{field.value}}" />
          </div>
        
          <h3 class="dependencies" ng-show="task.dependencies.length">Dependencies</h3>
          <ul ng-repeat="(key, dependency) in task.dependencies">
            <li>{{dependency}}</li>
          </ul>

          <h3 class="no-task-specs" ng-hide="task.dependencies.length+task.fields.length">No specs for this task</h3>

          <!-- Edit mode for this task -->
          <a class="edit-toggle" ng-show="!editmode" ng-click="editmode=!editmode">Edit</a>
          <a class="edit-toggle" ng-show="editmode" ng-click="editmode=!editmode">Close</a>

        </div>
      </div>

    </div>  

  </div>

  <div class="add-task-bar">
    <a class="add-task" ng-click="showAdd=!showAdd">+</a>
  </div>

  <div class="add-task">

  <div class="overlay" ng-show="showAdd">
    
    <a class="close-button" ng-click="showAdd=false">&times;</a>

  </div>

  </div>